APP_NAME=img-validation-service
HTTP_HOST=0.0.0.0
HTTP_PORT=8080
GRPC_PORT=9090
LOG_LEVEL=info
DEBUG_MODE=false

NSFW_ENABLED=false
NSFW_ENDPOINT=http://opennsfw2:8081
NSFW_SCORE_THRESHOLD=0.85
MAX_IMAGE_SIZE_BYTES=10485760
READINESS_SKIP_NSFW=0

FACE_ENABLED=false
FACE_ENDPOINT=http://faceid:8082
FACE_MATCH_THRESHOLD=0.40

ANTISPOOF_ENABLED=false
ANTISPOOF_ENDPOINT=http://antispoof:8083
ANTISPOOF_MIN_SCORE=0.70

READINESS_SKIP_FACE=0
